<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<footer>
  <div id="footer_content">
      <div id="footer_contacts">
          <h1>Game Mania</h1>
          <p>Desbloqueie seu potencial gamer</p>

          <div id="footer_social_media">
              <a href="#" class="footer-link" id="instagram">
                  <i class="fa-brands fa-instagram"></i>
              </a>

              <a href="#" class="footer-link" id="facebook">
                  <i class="fa-brands fa-facebook-f"></i>
              </a>

              <a href="#" class="footer-link" id="whatsapp">
                  <i class="fa-brands fa-whatsapp"></i>
              </a>
          </div>
      </div>

      <ul class="footer-list">
          <li>
              <h3>Blog</h3>
          </li>
          <li>
              <a href="" class="footer-link">Tecnologia</a>
          </li>
          <li>
              <a href="" class="footer-link">Games</a>
          </li>
          <li>
              <a href="" class="footer-link">Inteligência Artificial</a>
          </li>
      </ul>

      <ul class="footer-list">
          <li>
              <h3>Produtos</h3>
          </li>
          <li>
              <a href="" class="footer-link">Hardware</a>
          </li>
          <li>
              <a href="" class="footer-link">Jogos</a>
          </li>
          <li>
              <a href="" class="footer-link">Periféricos</a>
          </li>
      </ul>

      <div id="footer_subscribe">
          <h3>Cadastre-se</h3>
          <p>
              Insira seu e-mail para receber
              notificações sobre nossas novidades
          </p>
          <div id="input_group">
              <input type="email" id="email">
              <button>
                  <i class="fa-regular fa-envelope"></i>
              </button>
          </div>
      </div>
  </div>
  <div id="footer_copyright">
      &#169;2023 Todos os direitos reservados
  </div>
</footer>