<app-menu></app-menu>
<app-carrossel></app-carrossel>
<main>
  <section class="section-main">
    <section class="vendidos-header">
      <h1>Os mais vendidos</h1>
      <p>Venha conhecer um pouco dos nossos produtos</p>
    </section>
    <section class="container">
      <section *ngFor="let produto of produtos">
        <div class="item"><mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{produto.produto}}</mat-card-title>
              <p>{{produto.descricao}}</p>
            </mat-card-header>
            <img mat-card-image src="./assets/img/{{produto.foto}}" alt="Produto">
            <mat-card-actions>
              <p>{{produto.preco | currency: 'BRL'}}</p>
              <button mat-button>Comprar</button>
            </mat-card-actions>
          </mat-card>
        </div>
    
      </section>
    </section>
    <section class="category">
      <h2>Categorias</h2>
    <section class="category-container">
      <div class="category-item">
        <a href="/">
          <h3>Hardware</h3>
          <img src="./assets/img/hardware.png" class=category-img alt="Hardware">
        </a>
      </div>
      <div class="category-item">
        <a href="/">
          <h3>Periféricos</h3>
          <img src="./assets/img/perifericos.png" class=category-img alt="Periféricos">
        </a>
      </div>
      <div class="category-item">
        <a href="/">
          <h3>Games</h3>
          <img src="./assets/img/games.png" class=category-img alt="Games">
        </a>
      </div>
      <div class="category-item">
        <a href="/">
          <h3>Computadores</h3>
          <img src="./assets/img/computadores.png" class=category-img alt="Computadores">
        </a>
      </div>
      <div class="category-item">
        <a href="/">
          <h3>TV</h3>
          <img src="./assets/img/tv.png" class=category-img alt="TV's">
        </a>
      </div>
      <div class="category-item">
        <a href="/" class="category-item-special">
          <h3>Smartphone</h3>
          <img src="./assets/img/smartphones.png" class="category-img category-img-special" alt="Smartphones">
        </a>
      </div>
      <div class="category-item">
        <a href="/">
          <h3>Casa Inteligente</h3>
          <img src="./assets/img/casa-inteligente.png" class=category-img alt="Casa Inteligente">
        </a>
      </div>
      <div class="category-item">
        <a href="/">
          <h3>Espaço Gamer</h3>
          <img src="./assets/img/espaço-gamer.png" class=category-img alt="Espaço Gamer">
        </a>
      </div>
    </section>
    </section>
  </section>
</main>